*
{
    padding: 0;
    margin: 0;
}
body{
    font-family: Montserrat, sans-serif;
}

canvas
{
    background: #eee; display: block; margin: 0 auto;
}
.hero
{
    opacity: 0;
}

#timer{
    font-size:20px;
    width: 60px;
    height: 60px;
}